.top-section {
  background: url("../images/Background_image.jpg") no-repeat center center / cover fixed;
  height: 560px;
  position: relative;
}
.top-section .welcome {
  text-align: center;
}
.top-section h2 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 0;
  padding-top: 180px;
  font-size: 2rem;
}
.top-section .fa-code {
  font-size: 4.5em;
}
