@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.contact-section {
  background-color: #4594a4;
  text-align: center;
  padding: 70px;
}
.contact-section .icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 580px;
}
.contact-section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.contact-section a {
  color: #000000;
}
.contact-section .icon-btn {
  font-size: 40px;
}
.contact-section .linkedin-icon:hover {
  color: #0e09ad;
}
.contact-section .mail-icon:hover {
  color: #47fff3;
}
.contact-section .github-icon:hover {
  color: #83c217;
}
.contact-section .copyright {
  font-weight: bold;
  margin-top: 30px;
}
.contact-section .copyright span {
  font-family: "Ubuntu", LtBrown, serif;
  font-size: 1.3em;
}
.contact-section .icons p:last-of-type {
  font-size: 1.5em;
}
.contact-section .github-link {
  text-decoration: none;
}
.contact-section .github-link:hover {
  color: #7ad1ff;
}
.footer {
  display: grid;
}
.footer .footer-text {
  font-size: 1.3rem;
}
.scrollToTop {
  border-radius: 30px;
}
.scrollToTop:hover {
  color: #ffffff;
  cursor: pointer;
}
