.navbar-container {
  background-color: #4594a4;
  font-size: 1.2em;
}
.navbar-container h1 {
  color: #ffffff;
  margin-left: 10px;
}
.navbar-container .menu {
  display: flex;
  justify-content: space-between;
}
.navbar-container .menu .menu-right {
  display: flex;
  align-items: center;
}
.navbar-container .menu-list .menu-list-item {
  display: inline-block;
  margin-right: 20px;
}
.navbar-container .menu-list .menu-list-item:hover {
  color: #ffffff;
  cursor: pointer;
}
.navbar-container .menu-list .active {
  color: #ffffff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
