.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4594a4;
  font-size: 1.2em;
  height: 80px;
}
.navbar h1 {
  color: #ffffff;
  margin-left: 10px;
}
.navbar .menu-list .menu-list-item {
  display: inline-block;
  margin-right: 20px;
}
.navbar .menu-list a {
  text-decoration: none;
}
.navbar .menu-list a:hover {
  color: #ffffff;
  cursor: pointer;
}
.navbar .menu-list .active {
  color: #ffffff;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
